<div class="row"> 
        <div class="col-md-12">
        <h4 class="text-center">Welcome to online wine shopping!</h4> <br/><br/>
         </div> 


  <div class="col-md-12 visible-lg-block  visible-md-block headerphoto" id="container">
   <a href="/items"> <img src="/assets/banner1.png" width="970" height="300" alt="" /></a>
    <a href="/items"><img src="/assets/banner2.png" width="970" height="300" alt="" /></a>
    <a href="/items"><img src="/assets/banner3.png" width="970" height="300" alt="" /></a>
  </div>

  <div class="row">
     <div class="col-md-5">
      <div class="home_cont"><br/>
      <h5 class="subtitle lead"><strong>Wines for christmas or a special occasions</strong></h5><br/>

      <p>Whatever event you are organising, let Wines Direct help you make your wine selection. We can advise you on the best wines for occasions both large and small and to suit your budget.</p>

        <p>Whether it's for wedding wine or wine for a small intimate dinner party, we can offer you a great deal on champagne, sparkling wine and wine to accompany your menu, and we'll arrange reliable, quick delivery anywhere in Ireland.</p><br/>
      </div>
    </div>
   <div class="col-md-2 visible-lg-block  visible-md-block">
<br/><br/>
   <span class="img-rounded">
   
   <%= link_to image_tag("glass.jpg", :style => "height:220px; width:120px")%> </span>
  </div>
    <div class="col-md-5">
      <div class="home_cont"><br/>
      <h5 class="subtitle lead"><strong>Read reviews from some of Ireland’s top wine critics</strong></h5><br/>

    <p>Our winemakers are definitely better at making wine than marketing. They don't use glitzy ad campaigns and yet almost every weekend their wines are praised by some of Ireland’s best wine critics.</p>

    <p>Quality speaks for itself, so impress a friend or enjoy a personal treat with our complete range of award winning wines. </p>
    <p>For more information please visit our review 
    <a href="/review">page...</a><br/>
    </p>
    </div>
    </div>
  </div>
  
 
<script>
  $(document).ready(function(){
  $('#container').panelGallery({
    sections:5,
    imageTransitionDelay : 3000,
    sectionTransitionDelay : 700,
    startDelay : 2000,
    repeat:true
  });
});
  
</script>


       </div>
      