<div class="row"> 
  <div class="col-md-3"></div>
      <div class="col-md-6"><br/>
<div  class="row">
<span class="text-center"><h4 ><mark>Editing Contact Details</mark></h4></span><br/><br/>

<%= render 'form' %>


<%= link_to 'Cancel', contacts_path,:class => "btn btn-warning active  space pull-right btn-xs" %>
</div>
</div>
<div class="col-md-3"></div>
</div><!--end row-->