<div class="row"> 
  <div class="col-md-3"></div>
      <div class="col-md-6">

<br/>
<h4 class="text-center"><mark>Edit inventory</mark></h4><br/>
<%= render 'form' %>

<div><%= link_to 'Show Update', @item , :class => "btn btn-default btn-warning btn-sm" %> 
    <%= link_to 'Cancel Update', @item ,:class => "btn btn-default btn-warning btn-sm" %></div>
</div>
<div class="col-md-3"></div>
</div><!--end row-->